*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:visited{
    color:black;
}

/* Navbar */

nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}

nav h1{
    font-family: 'Great Vibes', cursive;
    font-size: 3.75rem;
    font-weight: normal;
    width: 80%;
}

nav p{
    align-items: center;
    display: flex;
    font-family: 'PT Serif', serif;
    font-size: 1.125em;
    justify-content: space-between;
    min-width: 270px;                   /* TO CHANGE */
    text-align: center;
    padding: 0 1rem;
    width: 20%;
}

nav a{
    text-decoration: none;
}

/* Header */

header{
    display: flex;
    justify-content: center;
    padding: 6rem 0;
}

header img{
    width: 21.875%;
}

/* Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
}

#central-photo{
    margin: 20rem 0;
}

main div{
    display: flex;
    width: 21.875%;
    align-items: center;
    justify-content: center;
}

div img{
    width: 100%;
    transition: filter 0.5s;
}

main div img:hover{
    filter: grayscale(0.15) opacity(0.6);
    cursor: pointer;
}

.picture-description{
    color: black;
    font-size: 3.75em;
    position: absolute;
    visibility: hidden;
    transition: visibility 0.5s;
}
main div:hover .picture-description{
    visibility: visible;
    filter: opacity(1);
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    padding: 0 0 4rem;
}

footer img{
    width: 1.75%;
}

/* Media Queires */

@media only screen and (min-width: 0px) and (max-width: 479px){
    /* Navbar */
    nav h1{
        font-size: 2em;
    }

    nav p{
        font-size: 0.75em;
        padding: 0 1rem;
    }

    /* Header */

    header img{
        width: 60%;
    }

    /* Main */

    main{
        padding: 18rem 0 7rem;
    }

    main div{
        width: 60%;
    }

    .picture-description{
        font-size: 2em;
    }

    /* Footer */

    footer img{
        width: 7%;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px){
    /*  Navbar */
    nav h1{
        font-size: 2.75em;
    }

    nav p{
        font-size: 1em;
        padding: 0.9rem;
    }

    /* Header */

    header img{
        width: 50%;
    }

    /* Main */
    main  div{
        width: 55%;
    }

    .picture-description{
        font-size: 2.5em;
    }

    /* Footer */

    footer{
        padding: 0 0 3.5rem;
    }

    footer img{
        width: 5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    /* Header */
    header img{
        width: 55%;
    }

    /* Main */
    main{
        padding: 22rem 0 11rem;
    }
    main div{
        width: 55%;
    }
    .picture-description{
        font-size: 3.5em;
    }

    /* Footer */
    footer img{
        width: 6%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1599px){

    /* Header */

    header{
        padding: 4rem 0;
    }

    header img{
        width: 20%;
    }

    /* Main */

    main{
        padding: 12rem 0 6rem;
    }

    main div{
        width: 20%;
    }

    .picture-description{
        font-size: 3em;
    }

    /* Footer */

    footer{
        padding: 0 0 2.5rem;
    }
}

/* ABOUT ME */

.about-main{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Serif', serif;
}

.about-main h1{
    font-size: 3.75em;
    font-weight:normal;
}

.about-main p{
    font-size: 1.5em;
    width: 66.14%;
    text-align: center;
}

.about-main-img{
    width:13.5%;
    border-radius: 100%;
}